<div style="height: 60px; " class="p-3 mb-2 bg-warning text-dark">
  <h3 style="color: white; text-align: center; "><i>Item Manger</i></h3>
</div>
<div class="card" style="margin: 30px">
  <div class="card-body">
    <h3>Add Item</h3>
    <form #itemForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
      <div class="row">
        <div class="col">
          <input type="number" class="form-control" placeholder="Item Id" [(ngModel)]="item.id" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Description" [(ngModel)]="item.description" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div style="margin-top: 30px">
        <button type="submit" class="btn btn-warning">Submit</button>
      </div>
      </div>
    </form>
  </div>
</div>
<br />
<div class="card" style="margin: 30px" *ngIf="edit">
  <div class="card-body">
    <h4>Edit Item</h4>
    <form #itemForm="ngForm" >
      <div class="form-group">
        <div class="row">
          <div class="col">
            <input readonly type="number" class="form-control" placeholder="Item Id" [(ngModel)]="edititem.id" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Description" [(ngModel)]="edititem.description" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row">
        <div style="margin-top: 30px; margin-left: 30px">
          <button type="submit" class="btn btn-warning" (click)="onSubmitEdit()">Edit</button>
        </div>
        <div style="margin-top: 30px; margin-left: 30px">
          <button type="submit" class="btn btn-warning" (click)="onDelete(edititem.id)">Delete</button>
        </div>
        </div>
      </div>
    </form>
  </div>
</div>
<br />
<h5 style="margin-left: 30px;">ITEM LIST</h5>
<ul class="list-group">
  <li *ngFor="let task of items" class="list-group-item" style="margin-left: 30px; margin-right: 30px">
    <span #itemId> <b>Item</b> {{ task.id }} </span> <br/>
    <span> {{ task.description }} </span>
    <i class="material-icons" style="margin-left: 85%" (click)="onEdit(task.id)">edit</i>
  </li>
</ul>

<router-outlet></router-outlet>
